body {
  font-family: Helvetica;
  color: #fff;
  background-image: url(https://cdn.discordapp.com/attachments/925995997845422100/942226049071206461/bganstar.gif);
}

a {
  text-decoration: none;
  color: #ff7373;
}

a:visited {
  text-decoration: none;
  color: #ff7373;
}
